{
  "env": {
    "development": {
      "presets": [
        [
          "module:poi/babel",
          {
            "jsx": "react"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "transform-async-to-generator",
        [
          "transform-class-properties",
          {
            "spec": true
          }
        ],
        "transform-es2015-modules-commonjs"
      ],
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "useBuiltIns": true
          }
        ],
        "react"
      ]
    }
  }
}
