### Gitignore Templates: https://github.com/github/gitignore

# OS
#-----------------------
.DS_Store
._*
*.lnk
Thumbs.db

# NodeJs
#-----------------------
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Custom Files
#---------------
NOTES/
dist
